.User {
  padding: 0 20px 0 500px;
  top: -40px;
  position: relative;
  overflow: visible;
  max-width: 1350px;
  min-width: 960px;
}
.User-section-title {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 1.7em;
  padding: 0;
  color: #1A0D1E;
  font-family: 'neuzeit_groteskblack';
  z-index: 20;
}

.User-profile-img {
  position: absolute;
  top: -12px;
  width: 275px;
  height: 717px;
  z-index: 10;
  left: 235px;
  display: inline-block;
  z-index: 100;
}

.User-blurb {
  color: #231F20;
  font-weight: 400;
  font-size: 1.1em;
  position: relative;
  width: 100%;
  z-index: 20;
  margin-left: 30px;
  padding: 30px 50px 0 0;
  font-family: 'Roboto-regular', 'Open Sans';
  height: auto;

  .User-section-title {
    font-size: 2em;
    margin-bottom: -5px;
   }
}

.User-bio {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  height: 222px;
  color: #8A7D91;
  display: table;
  padding-bottom: 15px;
}

.User-skills {
  height: 250px;
  width: 725px;
  z-index: 50;
  position: relative;
  float: left;
  padding-left: 30px;
  margin-right: 240px;
  

  @media (max-width: 1500px) {
    margin-right: 0;
  }
  
  .User-section-title {
    line-height: 1.1em;
    font-size: 1.7em;
    color: white;
    display: block;
    padding-top: 20px;
    z-index: 50;
  }
}

.User-skills-single {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3em;
  position: relative;
  display: inline-block;
  float: left;
  background: white;
  color: #231F20;
  font-family: 'neuzeit_groteskblack';
  margin: 10px 15px 0 0;
  padding: 2px 20px 2px 10px;

  &:hover { cursor: auto; }
}

.User-social {
  height: 145px;
  position: relative;
  float: left;
  width: 400px;
  margin-bottom: 20px;
  padding-left: 25px;

  .User-section-title {
    padding-top: 60px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
}
.User-social-link {
  margin: 0 10px 0 0;
  cursor: pointer;
  color: #db097d;
  position: relative;
  max-width: 45px;
  max-height: 45px;
  display: inline-block;

  img {
    position: relative;
    width: 100%;
    height: auto;
  }
}
.User-contact {
  margin-bottom: 20px;
  padding-left: 25px;
  height: 145px;
  position: relative;
  float: left;
  width: 300px;
  color: #8A7D91;

  .User-section-title {
    padding-top: 60px;
    margin-bottom: 8px;
    font-size: 1.5em;
    color: #1A0D1E;
  }
}

.User-press-link {
  cursor: pointer;
  color: #db097d;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
  .User-grammar {
    color: #555;
  }
}

.User .Grid {
  margin-top: 40px;
  padding: 0;
}

.User-filter {
  margin-top: 20px;
  font-size: .8em;
  font-weight: 300;
}

.User-filter-remove {
  font-weight: 700;
  color: #555;
  cursor: pointer;
}

.User-contact,
.User-squad,
.User-member {
  margin-bottom: 20px;
}

.User-member {
  min-width: 200px;
  display: inline-block;
}

.User-member-role {
  font-weight: 700;
}

.User-background {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  left: -500px;
  top: 0;
  z-index: 0;
  background-image: url(https://db.tt/xvtoOegQ);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
