.Carousel-slide {
  width: calc(100% - (#{$controlWidth} * 2));
  margin: 0 auto;
  position: relative;
  height: 100%;
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
}

.Carousel-slide-img {
  display: inline-block;
}

.Carousel-slide:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0.25em; /* Adjusts for spacing */
}
